<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>beuVidya</title>
    <link rel="stylesheet" href="cse.css">
</head>
<body>
    <%- include("nav.ejs") %>
    <div class="main">
        <h1>CSE PYQ's Semester 1</h1>
        <div class="card">
            <h2>Maths</h2>
            <a href=""><button>2023</button></a>
            <a href=""><button>2022</button></a>
            <a href="https://drive.google.com/file/d/1-X2bpsMQNZubOmNAAHHQt3xI5Ah30UxN/view?usp=drivesdk"><button>2021</button></a>
            <a href="https://drive.google.com/file/d/1-hJQ-Qbx81e3ZoCevQosZ82epVWZB5kg/view?usp=drivesdk"><button>2020</button></a>
        </div>  
        <div class="card">
            <h2>Physics</h2>
            <a href=""><button>2023</button></a>
            <a href=""><button>2022</button></a>
            <a href=""><button>2021</button></a>
            <a href=""><button>2020</button></a> 
    </div>
    <div class="card">
        <h2>Chemistry</h2>
        <a href=""><button>2023</button></a>
        <a href=""><button>2022</button></a>
        <a href=""><button>2021</button></a>
        <a href=""><button>2020</button></a>
    </div>
    
</body>
</html>