<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEU</title>
    <link rel="stylesheet" href="first.css">
</head>
<body>
    <%- include("nav.ejs") %>
    <div class="main">
        <h1>Select Your Branch</h1>
        <div class="branch">
            <a href="/cse">
                <span class="card"><h2>CSE</h2></span>
            </a>
            <a href="">
                <span class="card"><h2>IT</h2></span>
            </a> 
            <a href="">
                <span class="card"><h2>ME</h2></span>
            </a>    
            <a href="">
                <span class="card"><h2>CE</h2></span>   
            </a>
            <a href="">
                <span class="card"><h2>EE</h2></span>   
            </a>
            <a href="">
                <span class="card"><h2>EC</h2></span>   
            </a>
        </div>
    </div>


</body>
</html>