<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEU</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <%- include("nav.ejs") %>
    <div class="main">
        <h1 class="animated-text">Welcome to BEU</h1>
        <p>Here you will get free resourse for your BEU exam.</p>
    </div>
</body>
</html>