body{
    background-color: #1b6956;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #1b6956;
    color: #f0f0f0;
}
.main h1{
    font-size: 2.5em;
    margin: 20px;
}
.branch{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 5px 1px #333;
    padding: 20px;
    border-radius: 5px;
    height: 30vh;
    width: 20vw;
    margin: 20px; 
    text-decoration: underline;
    background-image: url('https://images.unsplash.com/photo-1485083269755-a7b559a4fe5e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGVuZ2luZWVyaW5nfGVufDB8fDB8fHww');
    background-size: cover;
    color: rgb(255, 255, 255);
}


